<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-storeService-edit" th:object="${storeService}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">门店编号：</label>
            <div class="col-sm-8">
                <input id="storeId" name="storeId" th:field="*{storeId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">业务名称：</label>
            <div class="col-sm-8">
                <select id="serviceName" name="serviceName" class="form-control" onchange="changeDescription()">
                    <option th:each="service:${serviceList}" th:value="${service.id}" th:text="${service.serviceName}" th:selected="${service.id eq storeService.defaultServiceId}"></option>
                </select>
                <!--<input id="serviceName" name="serviceName" th:field="*{serviceName}" class="form-control" type="text">-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">详细描述：</label>
            <div class="col-sm-8">
                <input id="description" name="description" th:field="*{description}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">业务状态：</label>
            <div class="col-sm-8">
                <!--<input id="statusId" name="statusId" th:field="*{statusId}" class="form-control" type="text">-->
                <select id="statusId" name="statusId" class="form-control">
                    <option th:field="*{statusId}" th:each="status:${list}" th:value="${status.id}"
                            th:text="${status.statusName}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">业务费用：</label>
            <div class="col-sm-8">
                <input id="cost" name="cost" th:field="*{cost}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">默认业务编号：</label>
            <div class="col-sm-8">
                <input id="defaultServiceId" name="defaultServiceId" th:field="*{defaultServiceId}" class="form-control"
                       type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "system/storeService"
    $("#form-storeService-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-storeService-edit').serialize());
        }
    }

    function changeDescription() {
        var serviceId = $("#serviceName").val();
        var services = [[${serviceList}]];
        for (var i = 0;i < services.length;i++){
            var service = services[i];
            if (serviceId == service.id){
                $("#description").val(service.description);
            }
        }
    }
</script>
</body>
</html>
