<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul id="searchUl">
							<li>
								<span class="textSpan">用户账号：</span><input type="text" name="userAccount"/>
							</li>

							<li>
								<span class="textSpan">用户密码：</span><input type="text" name="userPassword"/>
							</li>

							<li>
								<span class="textSpan">角色编号：</span><input type="text" name="roleId"/>
							</li>

							<li>
								<span class="textSpan">openid：</span><input type="text" name="openid"/>
							</li>

							<li>
								<span class="textSpan">真实姓名：</span><input type="text" name="realName"/>
							</li>

							<li>
								<span class="textSpan">联系电话：</span><input type="text" name="phone"/>
							</li>

							<li>
								<span class="textSpan">驾照A面：</span><input type="text" name="drivingLicence1"/>
							</li>

							<li>
								<span class="textSpan">驾照B面：</span><input type="text" name="drivingLicence2"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:userAccount:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:userAccount:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:userAccount:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:userAccount:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:userAccount:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:userAccount:remove')}]];
        var prefix = ctx + "system/userAccount";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "用户",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '编号',
					visible: false
				},
				{
					field : 'userAccount', 
					title : '用户账号',
					sortable: true
				},
				{
					field : 'userPassword', 
					title : '用户密码',
					sortable: true
				},
				{
					field : 'roleId', 
					title : '角色编号',
					sortable: true
				},
				{
					field : 'openid', 
					title : 'openid',
					sortable: true
				},
				{
					field : 'realName', 
					title : '真实姓名',
					sortable: true
				},
				{
					field : 'phone', 
					title : '联系电话',
					sortable: true
				},
				{
					field : 'drivingLicence1', 
					title : '驾照A面',
					sortable: true
				},
				{
					field : 'drivingLicence2', 
					title : '驾照B面',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>