<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.keyInfo.mapper.KeyInfoMapper">
    
    <resultMap type="KeyInfo" id="KeyInfoResult">
        <result property="id"    column="id"    />
        <result property="containerId"    column="container_id"    />
        <result property="statusId"    column="status_id"    />
    </resultMap>
	
	<sql id="selectKeyInfoVo">
        select id, container_id, status_id from cw_key_info
    </sql>
	
    <select id="selectKeyInfoList" parameterType="KeyInfo" resultMap="KeyInfoResult">
        <include refid="selectKeyInfoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="containerId != null  and containerId != '' "> and container_id = #{containerId}</if>
             <if test="statusId != null "> and status_id = #{statusId}</if>
         </where>
    </select>
    
    <select id="selectKeyInfoById" parameterType="Integer" resultMap="KeyInfoResult">
        <include refid="selectKeyInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectKeyInfoByKeyInfoId" parameterType="integer" resultMap="KeyInfoResult">
        <include refid="selectKeyInfoVo"/>
        where id =#{keyInfoId}
    </select>
        
    <insert id="insertKeyInfo" useGeneratedKeys="true" keyProperty="id" parameterType="KeyInfo">
        insert into cw_key_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="containerId != null  and containerId != ''  ">container_id,</if>
			<if test="statusId != null  ">status_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="containerId != null  and containerId != ''  ">#{containerId},</if>
			<if test="statusId != null  ">#{statusId},</if>
         </trim>
    </insert>
	 
    <update id="updateKeyInfo" parameterType="KeyInfo">
        update cw_key_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="containerId != null  and containerId != ''  ">container_id = #{containerId},</if>
            <if test="statusId != null  ">status_id = #{statusId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteKeyInfoById" parameterType="Integer">
        delete from cw_key_info where id = #{id}
    </delete>
	
    <delete id="deleteKeyInfoByIds" parameterType="String">
        delete from cw_key_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>