<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.order.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="consumerAccount"    column="consumer_account"    />
        <result property="storeId"    column="store_id"    />
        <result property="statusId"    column="status_id"    />
        <result property="payStatusId"    column="pay_status_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="finishDate"    column="finish_date"    />
        <result property="carId"    column="car_id"    />
        <result property="carAddress"    column="car_address"    />
        <result property="keyInfoId"    column="key_info_id"    />
        <result property="typeId"    column="type_id"    />
        <result property="userAccount"    column="user_account"    />
        <result property="orderComment"    column="order_comment"    />
        <result property="appointmentTime"    column="appointment_time"    />
        <result property="timeQuantum"    column="time_quantum"    />
        <result property="expectCostId"    column="expect_cost_id"    />
    </resultMap>
	
	<sql id="selectOrderVo">
        select id, order_id, consumer_account, store_id, status_id, pay_status_id, create_date, finish_date, car_id, car_address, key_info_id, type_id, user_account, order_comment, appointment_time, time_quantum, expect_cost_id from cw_order
    </sql>
	
    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="orderId != null  and orderId != '' "> and order_id = #{orderId}</if>
             <if test="consumerAccount != null  and consumerAccount != '' "> and consumer_account = #{consumerAccount}</if>
             <if test="storeId != null  and storeId != '' "> and store_id = #{storeId}</if>
             <if test="statusId != null "> and status_id = #{statusId}</if>
             <if test="payStatusId != null "> and pay_status_id = #{payStatusId}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="finishDate != null "> and finish_date = #{finishDate}</if>
             <if test="carId != null "> and car_id = #{carId}</if>
             <if test="carAddress != null  and carAddress != '' "> and car_address = #{carAddress}</if>
             <if test="keyInfoId != null "> and key_info_id = #{keyInfoId}</if>
             <if test="typeId != null "> and type_id = #{typeId}</if>
             <if test="userAccount != null  and userAccount != '' "> and user_account = #{userAccount}</if>
             <if test="orderComment != null  and orderComment != '' "> and order_comment = #{orderComment}</if>
             <if test="appointmentTime != null "> and appointment_time = #{appointmentTime}</if>
             <if test="timeQuantum != null "> and time_quantum = #{timeQuantum}</if>
             <if test="expectCostId != null "> and expect_cost_id = #{expectCostId}</if>
         </where>
    </select>
    
    <select id="selectOrderById" parameterType="Integer" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrder" parameterType="Order">
        insert into cw_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="orderId != null  and orderId != ''  ">order_id,</if>
			<if test="consumerAccount != null  and consumerAccount != ''  ">consumer_account,</if>
			<if test="storeId != null  and storeId != ''  ">store_id,</if>
			<if test="statusId != null  ">status_id,</if>
			<if test="payStatusId != null  ">pay_status_id,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="finishDate != null  ">finish_date,</if>
			<if test="carId != null  ">car_id,</if>
			<if test="carAddress != null  and carAddress != ''  ">car_address,</if>
			<if test="keyInfoId != null  ">key_info_id,</if>
			<if test="typeId != null  ">type_id,</if>
			<if test="userAccount != null  and userAccount != ''  ">user_account,</if>
			<if test="orderComment != null  and orderComment != ''  ">order_comment,</if>
			<if test="appointmentTime != null  ">appointment_time,</if>
			<if test="timeQuantum != null  ">time_quantum,</if>
			<if test="expectCostId != null  ">expect_cost_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="orderId != null  and orderId != ''  ">#{orderId},</if>
			<if test="consumerAccount != null  and consumerAccount != ''  ">#{consumerAccount},</if>
			<if test="storeId != null  and storeId != ''  ">#{storeId},</if>
			<if test="statusId != null  ">#{statusId},</if>
			<if test="payStatusId != null  ">#{payStatusId},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="finishDate != null  ">#{finishDate},</if>
			<if test="carId != null  ">#{carId},</if>
			<if test="carAddress != null  and carAddress != ''  ">#{carAddress},</if>
			<if test="keyInfoId != null  ">#{keyInfoId},</if>
			<if test="typeId != null  ">#{typeId},</if>
			<if test="userAccount != null  and userAccount != ''  ">#{userAccount},</if>
			<if test="orderComment != null  and orderComment != ''  ">#{orderComment},</if>
			<if test="appointmentTime != null  ">#{appointmentTime},</if>
			<if test="timeQuantum != null  ">#{timeQuantum},</if>
			<if test="expectCostId != null  ">#{expectCostId},</if>
         </trim>
    </insert>
	 
    <update id="updateOrder" parameterType="Order">
        update cw_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''  ">order_id = #{orderId},</if>
            <if test="consumerAccount != null  and consumerAccount != ''  ">consumer_account = #{consumerAccount},</if>
            <if test="storeId != null  and storeId != ''  ">store_id = #{storeId},</if>
            <if test="statusId != null  ">status_id = #{statusId},</if>
            <if test="payStatusId != null  ">pay_status_id = #{payStatusId},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="finishDate != null  ">finish_date = #{finishDate},</if>
            <if test="carId != null  ">car_id = #{carId},</if>
            <if test="carAddress != null  and carAddress != ''  ">car_address = #{carAddress},</if>
            <if test="keyInfoId != null  ">key_info_id = #{keyInfoId},</if>
            <if test="typeId != null  ">type_id = #{typeId},</if>
            <if test="userAccount != null  and userAccount != ''  ">user_account = #{userAccount},</if>
            <if test="orderComment != null  and orderComment != ''  ">order_comment = #{orderComment},</if>
            <if test="appointmentTime != null  ">appointment_time = #{appointmentTime},</if>
            <if test="timeQuantum != null  ">time_quantum = #{timeQuantum},</if>
            <if test="expectCostId != null  ">expect_cost_id = #{expectCostId},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="cancelOrderByOrderId">
        update cw_order set status_id = 206,finish_date = #{finishDate} where order_id = #{orderId}
    </update>

	<delete id="deleteOrderById" parameterType="Integer">
        delete from cw_order where id = #{id}
    </delete>
	
    <delete id="deleteOrderByIds" parameterType="String">
        delete from cw_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>