<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-order-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单编号：</label>
				<div class="col-sm-8">
					<input id="orderId" name="orderId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">消费者账号：</label>
				<div class="col-sm-8">
					<input id="consumerAccount" name="consumerAccount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">门店编号：</label>
				<div class="col-sm-8">
					<input id="storeId" name="storeId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单状态：</label>
				<div class="col-sm-8">
					<select id="statusId" name="statusId" class="form-control">
						<option th:if="${statusList!=null}"th:each="status:${statusList}" th:value="${status.id}" th:text="${status.statusName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">付款状态编号：</label>
				<div class="col-sm-8">
					<input id="payStatusId" name="payStatusId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">下单时间：</label>
				<div class="col-sm-8">
					<input id="createDate" name="createDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">完成时间：</label>
				<div class="col-sm-8">
					<input id="finishDate" name="finishDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">车辆编号：</label>
				<div class="col-sm-8">
					<input id="carId" name="carId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">车辆所在地址：</label>
				<div class="col-sm-8">
					<input id="carAddress" name="carAddress" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">钥匙信息编号：</label>
				<div class="col-sm-8">
					<input id="keyInfoId" name="keyInfoId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">模式名称：</label>
				<div class="col-sm-8">
					<select id="typeId" name="typeId" class="form-control">
						<option th:if="${modelList!=null}"th:each="model:${modelList}" th:value="${model.id}" th:text="${model.modelName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工作人员账号：</label>
				<div class="col-sm-8">
					<input id="userAccount" name="userAccount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="orderComment" name="orderComment" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预约时间：</label>
				<div class="col-sm-8">
					<input id="appointmentTime" name="appointmentTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">时间段：</label>
				<div class="col-sm-8">
					<input id="timeQuantum" name="timeQuantum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预算范围：</label>
				<div class="col-sm-8">
					<select id="expectCostId" name="expectCostId" class="form-control">
						<option th:if="${expectCost!=null}"th:each="expect:${expectCost}" th:value="${expect.id}" th:text="${expect.expectName}"></option>
					</select>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/order"
		$("#form-order-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-order-add').serialize());
	        }
	    }
	</script>
</body>
</html>
